{% extends 'counselornav.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Section</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'counselorinfosectionstyle.css' %}">
<body>
  <div class="main">
    <!-- displaying the info section and counselor is able to edit or delete -->
    <div class="intro">
      <h1>Mental Wellness: Taking Care of Your Mental Health</h1><br><br>
      <p><i>Empowering Minds, Embracing Wellness: Your Journey to Mental Well-Being Begins Here</i></p>
    </div>
    <br><br><br>
    <div class="infos">
      <!-- Search bar -->
      <input type="text" id="searchBar" placeholder="Search information..." onkeyup="filterTable()" 
      style="width: 100%; padding: 10px; margin-bottom: 20px; border: 1px solid #333; border-radius: 5px;">
      <table id="infoTable">
        <div class="content">
          {% for x in info %}
          <tr>
            <td>
              <div class="t1">
                <div class="zoom">
                  <div id="info_title">{{x.title}}</div>
                </div>
              </div>
            </td>
            <div class="desc">
              <td class="t2">
                {{x.info}}
              </td>
            </div>
            <td>
              <a href="infoupdate/{{x.id}}"><button id="up"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
            </td>
            <td>
              <a href="infodelete/{{x.id}}"><button id="del"><i class="fa fa-trash-o" aria-hidden="true"></i></button></a>
            </td>
          </tr>
          {% endfor %}
        </div>
      </table>
      <br><br><br>
      <a href="{% url 'infosection:infoadd' %}"><button id="new3">Add an info</button></a>
    </div>
  </div>
  <br><br>
  <script>
    function filterTable() {
      const input = document.getElementById("searchBar");
      const filter = input.value.toLowerCase();
      const table = document.getElementById("infoTable");
      const rows = table.getElementsByTagName("tr");

      for (let i = 0; i < rows.length; i++) {
        const title = rows[i].getElementsByTagName("td")[0];
        const info = rows[i].getElementsByTagName("td")[1];
        if (title || info) {
          const titleText = title.textContent || title.innerText;
          const infoText = info.textContent || info.innerText;
          if (titleText.toLowerCase().indexOf(filter) > -1 || infoText.toLowerCase().indexOf(filter) > -1) {
            rows[i].style.display = "";
          } else {
            rows[i].style.display = "none";
          }
        }
      }
    }
  </script>
</body>
</html>
{% endblock content %}
