{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--style for StudentHome.html-->
        <link rel="stylesheet" href="{% static 'studentnavbarstyle.css' %}">
        <!--Icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="main_body">
            <!--sidebar-->
            <aside>
                <img src="{% static 'images/logo.png' %}" class="logo">
                <div class="option">
                    <a href="{% url 'StudentHomePage:index' %}" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
                    <a href="{% url 'StudentProfile:studentprofile' %}" class="{% if request.resolver_match.url_name == 'studentprofile' or request.resolver_match.url_name == 'studentedit' or request.resolver_match.url_name == 'studentchangepassword'%}active{% endif %}"><i class="fa fa-user-circle-o" aria-hidden="true"></i>My profile</a>
                    <!-- <a href="{% url 'StudentDiary:diary' %}" class="{% if request.resolver_match.url_name == 'diary' %}active{% endif %}"><i class="fa fa-book" aria-hidden="true"></i>Diary</a>
                    <a href="{% url 'StudentAppointment:myAppointment' %}" class="{% if request.resolver_match.url_name == 'myAppointment'%}active{% endif %}"><i class="fa fa-calendar-o" aria-hidden="true"></i>Appointment</a>
                    <a href="{% url 'StudentAppointment:experts' %}" class="{% if request.resolver_match.url_name == 'experts' or request.resolver_match.url_name == 'appointment'%}active{% endif %}"><i class="fa fa-group" aria-hidden="true"></i>Experts</a>
                    <a href="{% url 'StudentQuiz:quiz' %}" class="{% if request.resolver_match.url_name == 'quiz' or request.resolver_match.url_name == 'result' %}active{% endif %}"><i class="fa fa-edit" aria-hidden="true"></i>Assessment</a> -->
                    <a href="{% url 'Home:logout' %}" class="{% if request.resolver_match.url_name == 'logout'}"><i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</a>
                </div>
            </aside>
            <!--sidebar end-->

            <div class="content">
                {% block content %} {% endblock content %}
            </div>
        </div>
    </body>

</html>