

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

.header{
    width: 1100px;
    height: auto;
    margin: 50px auto;
    background-color: rgb(241, 249, 249);
    box-shadow: 5px 5px 5px 5px #b9b9b988;
}

body{
    background: #f1f7f5;
}

header {
    position: relative;
    box-sizing: border-box;
    transition: background-color 1s ease-out;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
  }

.logo {
    pointer-events: none;
    margin-left: -50px;
}

.navigation {
    margin-left: 35px;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover, .navigation a.active{
    background: #359381;
    color: #fff;
}

.head{
    padding-top: 50px;
    margin: 60px 90px;
    display: flex;
    flex-direction: row;
}

.bookCon {
    position: relative;
    overflow: hidden;
    margin: 80px 150px;
    padding-bottom: 50px;
  }

.book {
    border: none;
}

.desc p{
    font-size: 28px;
    font-weight: bold;
    word-wrap: break-word;
}

.desc {
    width: 375px;
}


.btn{
    display: inline-block;
    position: relative;
    margin-left: 30px;
    cursor:pointer;
    display:inline-block;
    padding:10px;
    background: #76aea9;
    border-radius: 50%;
    color: #fff;
    z-index: 3;
    text-transform:uppercase;
    line-height:10px;
    &:after{
       content:'♬';
       display:inline-block;
       color: #ffffff;
       padding:2px;
       border-radius: 50%;
       height:15px;
       width:15px;
       margin-left:5px;
       padding-left: 2px;
       padding-right:1.5px;
       
    }
    &.playing{
        &:after{
          padding:2px;
          content:'❚❚';
       }
    }
 }

 .btn:active {
    transform: translateY(4px);
  }

 span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: relative;
    background-color: #76aea9;
  }
  
  span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 50%;
    z-index: 1.5;
    animation: ripple 1.5s ease-out infinite;
    animation-delay: 0.2s;
  }
  
  
@keyframes ripple {
    from {
      opacity: 1;
      transform: scale(0);
    }
    to {
      opacity: 0;
      transform: scale(18);
    }
  }

.audio{
    display: flex;
    flex-direction: row;
    float: right;
    margin-left: 30%;
    height: 45px;
}
