{% extends "counselornav.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'counselorschedulestyle.css' %}">
    <!--Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Change Password</title>
</head>

<body>
    <!-- displaying message if any -->
    {% if messages %}
        {% for message in messages %}
          <div class="message {% if message.tags %}{% spaceless %}{% for tag in message.tags %}{{ tag }}{% endfor %}{% endspaceless %}{% endif %}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ message }}
          </div>
        {% endfor %}
    {% endif %}

    <!-- animated title -->
    <div class="moving_title">
        <span>C</span>
        <span>H</span>
        <span>A</span>
        <span>N</span>
        <span>G</span>
        <span>E</span>
        <span></span>
        <span>P</span>
        <span>A</span>
        <span>S</span>
        <span>S</span>
        <span>W</span>
        <span>O</span>
        <span>R</span>
        <span>D</span>
    </div>
    <br><br>

    <div class="container1">
        <!-- form to change password -->
        <form method="POST" action="{% url 'StudentProfile:studentchangepassword' %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group">
                    <label class="fieldtext" for="id_old_password">Old Password</label>
                    <input type="password" name="old_password" autocomplete="new-password" class="form-control" required id="id_old_password" placeholder="Enter Old Password"/>
                    {% if form.errors.old_password %}
                    <span class="error">{{ form.errors.old_password }}</span>
                    {% endif %}
                    
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group">
                    <label class="fieldtext" for="id_new_password1">New Password</label>
                    <input type="password" name="new_password1" autocomplete="new-password" class="form-control" required id="id_new_password1" placeholder="Enter New Password"/>
                    {% if form.errors.new_password1 %}
                    <span class="error">{{ form.errors.new_password1 }}</span>
                    {% endif %}
                    
                </div>
            </div>             
            <div class="form-row">
                <div class="form-group">
                    <label class="fieldtext" for="id_new_password2">New Password Confirmation</label>
                    <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control" placeholder="Confirm New Password"/>
                </div>
            </div>              
            <br>
            <div class="form-row">
                <div class="form-group">
                    <button type="submit" class="formbtn" id="new">Update Password</button>
                </div>
            </div>             
        </form>
    </div>
</body>
</html>
{% endblock content %}