{% extends 'studentnavbar.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'counselorschedulestyle.css' %}">

<body>
    <!-- styling title -->
    <div class="moving_title">
        <span>U</span>
        <span>P</span>
        <span>D</span>
        <span>A</span>
        <span>T</span>
        <span>E</span>
        <span></span>
        <span>I</span>
        <span>N</span>
        <span>F</span>
        <span>O</span>
    </div>
    <br><br>
    <div class="container1">
        <!-- form to update info section -->
        <form action="{% url 'StudentDiary:diaryuprec' diary.id %}" method="post">
            {% csrf_token %}
            <label for="">Title</label><br><br>
            <input type="text" name="title" value="{{diary.title}}"><br><br>
            <label for="">Info</label><br><br>
            <textarea name="diary" rows="15" cols="70">{{ diary.diary|default_if_none:'' }}</textarea><br><br>
            <button type="submit" id="new">Update</button>
        </form>

    </div>
</body>

</html>
{% endblock content %}