{% extends 'studentnavbar.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'appointmentstyle.css' %}">
        <!--Icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Book Appointment</title>
    </head>
    
    <body>
      <div class="AppointmentPage">
        <p class="textHead">Secure your <span class="fancy">spot</span> now!</p>
        <div class="AppointmentForm">
          <form method="post" action="{% url 'StudentAppointment:appointment' counselor.pk %}">
            {% csrf_token %}
            <div class="names">
              <h1 class="toptext">Personal info</h1>
              <div class="namebox">
              <div class="inputBox">
                <input type="text" name="studentname" class="studentname" value="{{ student_name }}" readonly>
                <label class="pop1">Student Name</label>
              </div>
              <div class="inputBox">
                <input type="text" name="counselorname" class="counselorname" value="{{ counselor.full_name }}" readonly>
                <label class="pop1">Counselor Name</label>
              </div>
            </div>
           </div>
           <div class="slot">
            <h1 class="toptext">Slot</h1>
            <div class="dateinputBox">
              <p>Date : </p>
              <div class="inputBoxdate">
                
                <select class="dropdowndates" name="dropdowndates" onchange="filterSlots(this.value)" id="dateDropdown">
                  <option value="--">-- Choose a date --</option>
                  {% for slots in available_slots %}
                    <option value="{{ slots.date }}">{{ slots.date }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="inputBoxtime">
              <ul class="timeContainer">
                <li>Time available : </li>
                {% for slots in available_slots %}
                <li data-date="{{ slots.date }}" class="timeselection"  style="display: none;"><input type="radio" class="timeslot" name="time" value="{{ slots.start }} - {{ slots.end }}" id="time-{{ forloop.counter }}" onclick="selectTime(this.value)"><label for="time-{{ forloop.counter }}">{{ slots.start }} - {{ slots.end }}</label></li>
                {% endfor %}
              </ul>
            </div>
          
            <div class="show" style="display: none;">
              <div class="inputBoxtitle">
                <input type="text" name="appointmentTitle" class="appointmentTitle" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="pop">Appointment Title</label>
              </div>
              <div class="inputBoxdesc">
                <p>Description: </p>
                <textarea name="appointmentdesc" class="appointmentdesc" placeholder="What help do you want? Briefly describe your problem :D" required></textarea>
                <label for="appointmentdesc" class="pop1">Description</label>
              </div>
              <div class="formfooter">
                <button type="submit" value="submit">Confirm</button>
              </div>
            </div>
          </div>
            
          </form>

        </div>
      </div>
      <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
      </div>
      <script src="{% static 'studentappointment.js' %}"></script>
    </body>
</html>

{% endblock content %}