* {
    margin: 0;
    padding: 0px;
}

.myAppointmentPage{
    width: 95%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
  
th, td {
    padding: 20px;
    text-align: left;
    background-color: #ffffff;
    border-bottom: 1px solid #acacac;
   
}

th{
    background-color: #64ac8a;
    text-align: center;
    font-size: 18px;
}
 
.date{
    width:15%;
}

.time{
    width: 22%;
    border: 1px solid #acacac;
}

.name{
    width: 21%;
}

.contact{
    width: 30%;
    background-color: #bcd9ca;
}

.action{
    width: 7%;
    text-align: center;
}

.delete{
    text-decoration: none;
    color: red;
    font-size: 30px;
    border: 1px solid white;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.delete:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.message, .message.success{
    margin: 20px 0px 30px;
    margin-top: -15px;
    padding: 25px;
    width: 100%;
    background-color: #ffa361;
    color: #ffffff;
    z-index: 10;
    position: relative;
}

.closebtn{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s
}

.closebtn:hover {
    color: black;
}

.message.success {
    background-color: #03b12c;
}

.head{
    margin: 50px 0 50px;
    font-size: 1.6em;
    position: relative;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(rgba(62, 212, 162, 0.717), rgba(62, 212, 162, 0.717));
    background-size: 100% 20px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    transition: background-size .7s, background-position .5s ease-in-out;
}


/* ------------------------------------ background animation ----------------------------*/
.area{
    width: 100%;
    height:100%;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(86, 181, 148, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}